<h2 class="m-4 fs-4">Rubrica</h2>
<p>{{descriptionRubric}}</p>
<div class="basic_space_table">
    <div class="table_container">
        <!-- Header -->
        <div class="">
            <div class="table_row">
                <div class="table_cell header_cell header_cell--right">Criterios</div>
                <div class="table_cell header_cell">Niveles</div>
            </div>
        </div>
        <!-- Body -->
        <div class="table_body">
            <app-template-rubric-row></app-template-rubric-row>
        </div>
    </div>
</div>