.basic_space_table {
    border-radius: 20px;
    background-color: #6B656A;
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

.table_container {
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 100%;
    height: auto;
    margin-top: 40px;

}

.table_header {
    font-weight: bold;
    border-bottom: 2px solid #6B656A;
}

.table_row {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.table_cell {
    flex: 1;
    padding: 0.5rem 1rem;
}

.header_cell {
    font-size: 1.1rem;
    color: #1F0D1E;
    border-radius: 20px 20px 0 0; 
}
.header_cell--right{
    background-color: #E9E9E9
}
.table_body .table_row:not(:last-child) {
    border-bottom: 1px solid #6B656A;
}