<app-molecule-back-header>
</app-molecule-back-header>
<div>
    <i class="bi bi-person-circle p-1 user-icon"></i>
    <h1 class="fs-1">Bienvenido a la gestion de docentes</h1>
</div>
<section class="section_options">
    <div>
        <h2>Listar docente</h2>
        <p>visualizar docentes</p>
    </div>
    <div>
        <h2>Crear docentes</h2>
        <p>Crerar docentes </p>
    </div>
    <div class="container-fluid">
        <p>Aqui podras encontrar toda la informaciones y opciones relacionadas con la gestion de los docentes <br>

            - “Lo mejo de lo mejor”</p>
    </div>
</section>
