<!-- Primary State - Full Block -->
<div *ngIf="state === 'primary'" class="card card__Body" [style.backgroundColor]="bodyColor">
  <div class=" Card__blockTitle" [style.backgroundColor]="titleColor">
      <h3  class="title" #titleElement>{{title}}</h3>
  </div>
  <div class="divider"></div>
  <p class="description">{{ description }}</p>
</div>

<!-- Secondary State - Empty Block with Plus Icon -->
<div *ngIf="state === 'secondary'" class="card__Body--smal empty-block">
  <div class="circle-icon">
      <i class="bi bi-plus-lg"></i>
  </div>
</div>