.card {
  border-color: rgba(240, 248, 255, 0);
  color: white;
  cursor: pointer;
  position: relative;
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Efecto de elevación */
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: inherit;
  box-shadow: 0 5px 15px rgba(83, 83, 83, 0.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  transform: translateY(-5px);
}

.card:hover::after {
  opacity: 1;
}

/* Efecto de resplandor en el borde */
.card:hover {
  box-shadow: 
    0 5px 15px rgba(83, 83, 83, 0.3),
    0 0 0 2px rgba(255, 255, 255, 0.1);
}

/* Efecto de escala suave al hacer click */
.card:active {
  transform: translateY(-2px);
  transition: transform 0.1s;
}
.card__Body {
  width: 100%;
  height: 100%;
  
}

.card__Body p{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 300;
}
.Card__blockTitle {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 5%;
  border-top-left-radius: 10px;  /* Redondeo superior izquierdo */
  border-top-right-radius: 10px; /* Redondeo superior derecho */
  border-bottom-left-radius: 0;  /* Sin redondeo inferior izquierdo */
  border-bottom-right-radius: 0; /* Sin redondeo inferior derecho */
}


.divider {
  background-color: white; /* Color blanco */
  height: 7px;
  border-radius: 10px;        
  width: 100%;   /* Grosor de la línea (ajústalo a tu preferencia) */

}

.title{
  font-weight: 3000;
}
.description{
  padding: 20px;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}
/**
======================= Secundary===============
*/
.card__Body--smal {
  width: clamp(100px, 80%, 120px);
  height: 100%;
  
}

.empty-block {
  border: 2px dashed #6B656A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.3s ease;
  min-height: 200px;
}

.empty-block:hover {
  background-color: #efefef;
  border-color: #999;
}

.circle-icon {
  border: 2px dashed #6b656a4d;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.circle-icon i {
  color: white;
  font-size: 2rem;
}

.empty-block:hover .circle-icon {
  transform: scale(1.1);

}

.empty-text {
  color: #666;
  font-size: 1.1rem;
  text-align: center;
}