<app-molecule-back-header>
</app-molecule-back-header>
<section class="row sectionInfo">
    <!-- Columna izquierda con título y descripción -->
    <div class="col-6 d-flex flex-column justify-content-center infoBasicAsignature">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  
    <!-- Columna derecha con botón -->
    <div class="col-6 d-flex align-items-center justify-content-center">
      <app-molecule-block-user></app-molecule-block-user>
    </div>
  </section>
<section class=" sectionCompetency">
 <app-moleculue-competency-section></app-moleculue-competency-section>
</section>
