<app-molecule-back-header>
</app-molecule-back-header>
<section class="row sectionInfo">
    <!-- Left column with title and description-->
    <div class="col-6 d-flex flex-column justify-content-center infoBasicAsignature">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
  
    <!-- Right column with user block -->
    <div class="col-6 d-flex align-items-center justify-content-center">
      <app-molecule-block-user [name]="'NProv'" [role]="'rol'"></app-molecule-block-user>
    </div>
  </section>
  <section class="sectionCompetency">
    <div id="competencyCarousel" class="carousel slide"    [attr.data-bs-ride]="isEdit ? 'false' : 'carousel'"
    [attr.data-bs-interval]="isEdit ? 'false' : '5000'">
      <div class="carousel-inner">
        <div 
          *ngFor="let competency of listCompetency; let i = index" 
          class="carousel-item" 
          [class.active]="i === 0"
        >
          <app-template-competency [competency]="competency"
          (editStateChange)="onEditStateChange($event)"
          *ngIf="!isEdit"
          ></app-template-competency>
          <app-template-competency-edit
           [competency]="competency"
           (editStateChange)="onEditStateChange($event)"
            *ngIf="isEdit"
          ></app-template-competency-edit> 
        </div>
      </div>
  
      <!-- Carousel controls -->
      <button class="carousel-control-prev" 
      type="button" 
      data-bs-target="#competencyCarousel" 
      data-bs-slide="prev"
      [class.d-none]="isEdit">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" 
      type="button" 
      data-bs-target="#competencyCarousel" 
      data-bs-slide="next"
      [class.d-none]="isEdit">
      <span class="carousel-control-next-icon"></span>
    </button>
    </div>
  </section>