:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% del alto del viewport */
  }

.main-content {
    flex: 1; /* esto empuja el footer hacia abajo */
  }
.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    gap: 1rem;
  }
  
  .carousel-container {
    max-width: 90vw;
    overflow: hidden;
  }
  .search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
    gap: 1rem;
    margin-top: 3%;
  }
  
  .carousel-scroll {
    display: flex;
    gap: 4rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 25rem;
  }
  
  .carousel-scroll::-webkit-scrollbar {
    display: none;
  }
  
  .card-item {
    margin-top:10px;
    flex: 0 0 auto;
    width: 300px;
  }

  .card-item:hover {

    flex: 0 0 auto;
  }
  .card-item--list{
    width: 100%;
    height: 800px;
  }
.container-subject{
  height: clamp(10rem, 5vh, 20rem);
}
  .container--search{
    margin-top: clamp(5rem, 5vh, 10rem);
    margin-bottom: clamp(2rem, 5vh, 10rem);
  }
  .nav {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 1;
  }
  
  .nav:hover {
    background-color: #f0f0f0;
  }
  
  .nav:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  opacity: 0.5;
}

.card-item {
  flex: 0 0 auto;
  min-width: 250px;
  scroll-snap-align: start;
}
.grid-view {
  padding: 1rem;
}

.grid-view app-molecule-block {
  height: 100%;
  display: block;
}