<app-loading [isLoading]="isLoading"></app-loading>
<app-header></app-header>

<div class="container py-4 container--search">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="d-flex align-items-center justify-content-between">
        <app-molecule-aside-menu
          [menuItems]="menuItems"
          (itemSelected)="onMenuItemSelected($event)"
          class="flex-grow-0 me-3"
        ></app-molecule-aside-menu>

        <app-molecule-search-bar
          placeholder="Buscar asignatura..."
          (search)="onSearch($event)"
          class="flex-grow-1"
        ></app-molecule-search-bar>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid main-content">
  <div class="carousel-wrapper" *ngIf="isDesktop">
    <!-- Botón Izquierdo -->
    <button
      class="nav left"
      (click)="scrollLeft()"
      [disabled]="!canScrollLeft"
      *ngIf="listItems.length > 0"
    >
      &lt;
    </button>

    <!-- Contenedor del carrusel -->
    <div class="carousel-container">
      <div class="carousel-scroll" #carousel>
        <app-molecule-block
          *ngFor="let item of listItems"
          [title]="item.title"
          [description]="item.description"
          class="card-item"
          (click)="onItemClick(item)"
        >
        </app-molecule-block>
      </div>
    </div>

    <!-- Botón Derecho -->
    <button
      class="nav right"
      (click)="scrollRight()"
      [disabled]="!canScrollRight"
      *ngIf="listItems.length > 0"
    >
      &gt;
    </button>
  </div>
  <div class="grid-view" *ngIf="!isDesktop">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-12 col-md-8 col-lg-6 mb-4"
          *ngFor="let asignature of asignaturesFilters"
        >
          <div class="d-flex justify-content-center container-subject">
            <app-molecule-block
              [title]="asignature.name"
              [description]="asignature.description"
              (click)="goToAsignature(asignature.id)"
              class="card-item--list"
            >
            </app-molecule-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
