<app-loading [isLoading]="isLoading"></app-loading>
<app-header></app-header>


<div class="container py-4 ">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <app-molecule-search-bar
        placeholder="Buscar asignatura..."
        (search)="onSearch($event)"
        class="d-flex justify-content-center">

      </app-molecule-search-bar>
    </div>
  </div>
</div>

<div class="container-fluid main-content ">
  <div class="d-flex align-items-center justify-content-center gap-3 m-5 flex-wrap">

    <button class="nav left" (click)="scrollLeft()">&lt;</button>

    <div class="carousel-container">
      <div class="carousel-scroll">
        <app-molecule-block
          *ngFor="let asignature of asignaturesFilters"
          [title]="asignature.name"
          [description]="asignature.description"
          class="card-item"
          (click)="goToAsignature(asignature.id)">
        </app-molecule-block>
      </div>
    </div>

    <button class="nav right" (click)="scrollRight()">&gt;</button>
    
  </div>
</div>
