<app-alertmessage
    *ngIf="showAlert"
    [message]="'Rúbrica guardada exitosamente'"
    [state]="'save'"
    (closed)="onAlertClosed()">
</app-alertmessage>
<div class="overlay">
    <app-template-header-title
      [variant]="'secondary'"
      [title]="'Crear rubrica'"
      [description]="'Crea aqui tu rubrica'"
      [confirmBack]="confirmBack"
    ></app-template-header-title>


    <div class=" bodyContent">
        <section class="sectionDescription p-4">
            <h2>
                <span class="title angular-brackets">Rubrica</span>
                <p class="text-help"></p>
                <textarea class="description-input"
                 name="description"
                 [(ngModel)]="description"
                  id="description">
                    Escribe aqui la descripcion de tu rubrica
                </textarea>
                <div *ngIf="error.description" >
                    <p class="text-danger">{{error.description}}</p>

                </div>
            </h2>
        </section>
        <section class="row mb-5 sectionCriterions">
            <div class="col-12">
                <div class=" p-4">
                    <h2 *ngIf="!shouldHideCreateCriterion" class="mb-4 title angular-brackets">Crear Nuevo Criterio</h2>
                    <div class="">
                        <app-template-rubric-create-criterion
                        *ngIf="!shouldHideCreateCriterion"
                        [idRubric]="idRubric"
                        (criterionAdded)="onCriterionAdded($event)">
                        </app-template-rubric-create-criterion>
                    </div>
                </div>
            </div>
        </section>

            <!-- Sección de Lista de Criterios -->
            <section class="row">
                <div class="col-12">
                    <div class="p-4">
                        <h2 class="mb-3 title angular-brackets">Lista de Criterios Creados</h2>
                        <p class="mb-4 text-help">Estos son los criterios que tienes creados hasta el momento</p>
                        <div *ngFor="let criterion of listCriterion" class="listCriterion">
                            <!-- Show row when not editing this criterion -->
                            <app-template-rubric-row
                                *ngIf="!criterioIsEdit || editingCriterion !== criterion"
                                [criterion]="criterion"
                                [state]="'secondary'"
                                (onEdit)="handleEditCriterion(criterion)"
                                (onDelete)="handleDeleteCriterion(criterion)">
                            </app-template-rubric-row>

                            <!-- Show edit form when editing this criterion -->
                            <app-template-rubric-create-criterion
                            *ngIf="criterioIsEdit && editingCriterion === criterion"
                            [idRubric]="idRubric"
                            [criterionToEdit]="editingCriterion"
                            (criterionAdded)="onCriterionAdded($event)">
                            </app-template-rubric-create-criterion>
                        </div>
                    </div>
                </div>
            </section>
            <div *ngIf="error.weight" class="error-message">
                <p class="text-danger">{{ error.weight }}</p>
            </div>
            <section class=" p-4">
                <p class="text-help">¿Ya terminaste tu rubrica? </p>
                <p class="text-help">Guarda tus cambios y sigue con tu proceso</p>
                <div class="">
                    <button class="btn_save" (click)="saveRubric()">
                        Guardar
                    </button>
                    <button class="btn_cancel">
                        cancelar
                    </button>
                </div>
            </section >
    </div>
</div>
