.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-color: #1E1E1E;
    z-index: 9999;
    backdrop-filter: blur(5px);
}
.bodyContent{
    background-color: #E9E9E9;
    margin-top: clamp(50px, 10vh, 100px);
    margin-right: clamp(50px, 10vw, 100px);
    margin-left: clamp(50px, 10vw, 100px);
    padding: clamp(20px, 5vh, 40px);
    border-radius: 30px;
    height: 100vh;
}
.title{
    font-weight: 900;
    color: #6B656A;
    font-size: clamp(3rem, 3vw, 4rem);
}

.angular-brackets::before {
    content: "<";
}

.angular-brackets::after {
    content: ">";
}