.divididerUp{
    background-color: #6C3668;
    color: white;
    width: 100%;
    height: 100px;
    padding-right: 200px;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.icons-container {
    height: 100%;
    background-color: #553C53;
}
.icon-container-edit:hover{
    background-color: #553C53;
}
.icons-container-edit:hover {
    height: 100%;
}
.titleSection{
    color: #ECF4F1;
    font-size: 35px;
   
}
.description {
    font-weight: 900;
    font-size: clamp(1.2rem, 3vw, 3rem);
    max-width: 90%;
}
.bodyContent{
    padding: 4% 12%;
    
}

.icon:hover{
    color: #c5c5c5;
    font-size: 3rem;
}
.icon{
    color: #c5c5c5;
    font-size: clamp(2rem, 50%, 41rem);
    width: 30px;
    height: 100%;
    transition: font-size 0.3s ease
}
.sectionOutcomes {
    width: 100%; /* Establece el ancho base al 100% del contenedor */
    max-width: clamp(300px, 80%, 1600px); /* Controla el ancho máximo de forma responsiva */
    margin: 0 auto; /* Centra el contenido */
    padding: 0; /* Añade padding para espaciado en pantallas pequeñas */
}

.raContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.belong-text {
    font-size: clamp(1rem, 2vw, 1.1rem);
    font-weight: 500;
    color: #1E1E1E;
    margin-right: 0.5rem;
}
@media (max-width: 900px) {
    .sectionOutcomes {
        width: 75%
    }
}