<div class="d-flex justify-content-between align-items-center p-2 headerStyle" 
     (mouseenter)="onHeaderHover(true)" 
     (mouseleave)="onHeaderHover(false)">
  <div class="block block--left section-title-one d-flex">
    <i *ngIf="isCoordinator()" 
       class="bi bi-gear-fill config-icon-one block" 
       style="cursor: pointer;" 
       (click)="goToSettings()"></i>
    <div>
      <h1 class="title">SERA</h1>
      <p class="subtitle">Periodo: </p>
    </div>
  </div>
  
  <div class="d-flex align-items-center gap-3 block block--right section-user-one">
    
    <app-molecule-block-user [variant]="headerState" [name]="name" [role]="role"></app-molecule-block-user>
    <i class="bi bi-box-arrow-right logout-icon" 
    (click)="logout()"
    [class.logout-icon--secondary]="headerState === 'secondary'"></i>
  </div>
  
</div><div class="divider">

</div>