.headerSyle{
    background-color: #D9D9D9;
}
.user-icon {
    font-size: 50px;            /* Cambia el tamaño del ícono */
    color: #1F0D1E;               /* Color del ícono */
    
}
.config-icon{
    font-size: 50px;            /* Cambia el tamaño del ícono */
    color: #1F0D1E;               /* Color del ícono */
    
}  