<div class="container-fluid p-0 row-container">
    <div class="row align-items-center">
        <div class="col-12 col-xl-4"> <!-- Cambiado de lg a xl -->
            <data class="columnName d-flex align-items-center justify-content-center">
                <p class="m-0">{{name}}</p>
            </data>
        </div>

        <div class="col-12 col-xl-8"> <!-- Cambiado de lg a xl -->
            <ng-container *ngIf="levels && levels.length > 0">
                <div class="d-flex flex-column flex-xl-row align-items-center"> <!-- Cambiado de lg a xl -->
                    <div class="levels flex-grow-1 d-flex justify-content-center align-items-center flex-wrap h-100">
                        <app-molecule-level-box 
                            *ngFor="let level of levels"
                            [level]="level"
                            class="level-item d-flex align-items-center">
                        </app-molecule-level-box>
                    </div>
                    <div class="weight-container text-center text-xl-end text-weight"> <!-- Cambiado de lg a xl -->
                        <p class="m-0">{{weight}}%</p>
                    </div>
                    <div class="sectionSecondary action-buttons d-flex" *ngIf="state === 'secondary'">
                        <button class="btn btn-edit" (click)="onEdit.emit()">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-delete" (click)="handleDelete()">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>