<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 col-lg-6">
            <data class="columnName d-flex align-items-center justify-content-center">
                <p class="m-0">{{name}}</p>
            </data>
        </div>

        <div class="col-12 col-lg-6">
            <ng-container *ngIf="levels && levels.length > 0">
                <div class="d-flex flex-column flex-lg-row align-items-center">
                    <div class="levels flex-grow-1 d-flex justify-content-center align-items-center flex-wrap">
                        <app-molecule-level-box 
                            *ngFor="let level of levels"
                            [level]="level"
                            class="level-item">
                        </app-molecule-level-box>
                    </div>
                    <div class="weight-container text-center text-lg-end text-weight">
                        <p class="m-0">{{weight}}%</p>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="!levels || levels.length === 0" class="text-center">
                <small>No hay niveles disponibles</small>
            </div>
        </div>
    </div>
</div>