.columnName{
    width: 100%;
    height: clamp(13rem, 30vh, 20rem);
    text-align: center;
    background-color: #E9E9E9;
    font-size: clamp(0.2rem,2vh, 1rem);
}
.columnName p {
    font-size: clamp(0.5rem,2vh, 1.2rem);
}
.lelvels{
    width: 100%;
}
.text-weight{
    padding-right: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #878787;
}