.card{
  
  border-color: rgba(240, 248, 255, 0);
  color: white;
  cursor: pointer;
}
.card__Body_small {
  width: 400px;
  height: 100%;
  
}

.card__Body p{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5%;
  font-weight: 1000;
}
.Card__blockTitle {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
}


.divider {
  background-color: white; /* Color blanco */
  height: 10px;           /* Grosor de la línea (ajústalo a tu preferencia) */
  margin-top:-1px ;
}

