# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build
dist/
tmp/
out-tsc/
.angular/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de entorno
.env
*.env

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Compilaciones temporales
*.tsbuildinfo

# Coverage (tests)
coverage/

# Git
.git/
