<div class="container-fluid bodySection">
    <div class="row h-100">
        <!-- Name input -->
        <div class="col-12 col-lg-2 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
                <div class="form-group text-center helpText">
                    <label for="criterionName" class="mb-2">Clickeame</label>
                    <textarea 
                        class="form-control" 
                        id="criterionName" 
                        rows="3"
                        [(ngModel)]="name"
                        (input)="onInput()"
                        style="resize: none;">{{name}}</textarea>
                    <div *ngIf="errors.name" class="text-danger mt-2">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Levels section -->
        <div class="col-12 col-lg-8 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
              <div class="d-flex flex-row align-items-center justify-content-center level-container">
                <ng-container *ngFor="let i of [0,1,2,3,4]">
                  <div class="level-slot">
                    <app-molecule-rubric-level-for-create
                        *ngIf="Levels[i]"
                        [level]="Levels[i]"
                        [index]="i"
                        (levelChange)="onLevelChange($event)"
                        (redIndicatorClicked)="handleRedIndicator($event)">
                        >
                    </app-molecule-rubric-level-for-create>
                        <!-- Show placeholder only in the next available slot -->
                    <div class="empty-level-slot" *ngIf="!Levels[i] && i === Levels.length">
                            <span class="placeholder-text">Nivel {{i + 1}}</span>
                            <button class="btn btn--agregar" 
                                    (click)="addNewLevel()"
                                    [disabled]="Levels.length >= MAX_LEVEL">+</button>
                    </div>
                   
                     <!-- Mostrar el placeholder solo si NO existe el nivel -->
                     <div class="empty-level-slot" *ngIf="!Levels[i] && i === Levels.length + 1 && Levels.length < MAX_LEVEL">
                        <span class="placeholder-text">Nivel {{i + 1}}</span>
                        
                    </div>
                  
                  </div>
                </ng-container>
          
               
              </div>
            </div>
        </div>
          
        <!-- Value input -->
        <div class="col-12 col-lg-2 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
                <div class="form-group text-center">
                    <label for="criterionValue" class="mb-2">Valor del nivel</label>
                    <div class="input-group">
                        <input type="number" 
                               class="form-control" 
                               id="criterionValue" 
                               [(ngModel)]="weight"
                               (input)="onInput()"
                               value="0"
                               min="0"
                               max="100">
                        <span class="input-group-text number--big">%</span>
                    </div>
                    <div *ngIf="errors.value" class="text-danger mt-2">
                        {{ errors.value }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Save button -->
        <div class="container-fluid mb-3">
            <button 
                class="btn container-fluid btn--guardar"
                (click)="addCriterionWithLevels()">Guardar criterio</button>
        </div>
    </div>
</div>