<div class="container-fluid bodySection">
    <div class="row h-100">
        <!-- Name input -->
        <div class="col-12 col-lg-2 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
                <div class="form-group text-center helpText">
                    <label for="criterionName" class="mb-2">Ingresa el nombre </label>
                    <textarea 
                        maxlength="60"
                        class="form-control" 
                        id="criterionName" 
                        rows="3"
                        [(ngModel)]="name"
                        (input)="onInput()"
                        style="resize: none;">{{name}}</textarea>
                    <div *ngIf="errors.name" class="text-danger mt-2">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Levels section -->
        <div class="col-12 col-lg-8 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
              <div class="d-flex flex-row align-items-center justify-content-center level-container">
                <ng-container *ngFor="let i of [0,1,2,3,4]">
                  <div class="level-slot">
                    <app-molecule-rubric-level-for-create
                        *ngIf="Levels[i]"
                        [level]="Levels[i]"
                        [index]="i"
                        (levelChange)="onLevelChange($event)"
                        (redIndicatorClicked)="handleRedIndicator($event)">
                        >
                    </app-molecule-rubric-level-for-create>
                        <!-- Show placeholder only in the next available slot -->
                    <div class="empty-level-slot" *ngIf="!Levels[i] && i === Levels.length">
                        <app-molecule-block
                        (click)="addNewLevel()" 
                        [state]="'secondary'"
                        [title]="'Agregar Nivel'">
                    </app-molecule-block>
                    </div>
                   
                     <!-- Mostrar el placeholder solo si NO existe el nivel -->
                     <div class="empty-level-slot" *ngIf="!Levels[i] && i === Levels.length + 1 && Levels.length < MAX_LEVEL">
                        <span class="placeholder-text">Nivel {{i + 1}}</span>
                        
                    </div>
                  
                  </div>
                </ng-container>
          
               
              </div>
            </div>
        </div>
          
        <!-- Value input -->
        <div class="col-12 col-lg-2 mb-3">
            <div class="sectionColor h-100 d-flex align-items-center justify-content-center">
                <div class="form-group text-center">
                    <label for="criterionValue" class="mb-2">Valor del criterio</label>
                    <div class="input-group">
                        <input type="number" 
                               class="form-control" 
                               id="criterionValue" 
                               [(ngModel)]="weight"
                               (input)="onInput()"
                               value="0"
                               min="1"
                               max="100">
                        <span class="input-group-text number--big">%</span>
                    </div>
                    <div *ngIf="errors.value" class="text-danger mt-2">
                        {{ errors.value }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Save button -->
        <div class="container-fluid mb-3">
            <button 
                class="btn container-fluid btn--guardar"
                (click)="addCriterionWithLevels()">Guardar criterio</button>
        </div>
        <div *ngIf="errors.levelError"
            class="alert alert-danger d-flex align-items-center p-2 mt-2 mb-2 fade-in" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <span><strong>¡Atención!</strong>{{errors.levelError}}</span>
        </div>
    </div>

</div>