.user-icon {
    font-size: 60px;            /* Cambia el tamaño del ícono */
    color: #1F0D1E;               /* Color del ícono */
}
.box{
    min-width: 6rem;
}
.role{
 font-size: clamp(0.5rem, 7vw, 1rem);
}
