<div class="">
    <div class="divididerUp d-flex justify-content-between align-items-center p-5">
        <div class="title-container">
            <h2 class="titleSection">Competencia</h2>
        </div>
    </div>
    <div class="bodyContent container-fluid">
        <h2>{{competency.description}}</h2>
        <ng-container *ngIf="programCompetency$ | async as programComp; else loadingProgramComp">
            <p>Pertenece a: {{programComp.description}}</p>
        </ng-container>
        <ng-template #loadingProgramComp>
            <p *ngIf="loading.programCompetency">Cargando competencia del programa...</p>
            <p *ngIf="error.programCompetency">Error al cargar la competencia del programa</p>
        </ng-template>
        
        <hr class="m-5">
        <input type="text" class="form-control mb-3" placeholder="Descripción de la competencia" [(ngModel)]="editedCompetency.description">
        
        <select class="form-select mb-3" 
        [(ngModel)]="editedCompetency.level"
        name="level">
        <option value="" disabled>Seleccione un nivel</option>
        <option value="alto">Alto</option>
        <option value="medio">Medio</option>
        <option value="bajo">Bajo</option>
        </select>
    </div>
    
    <section class="raContent d-flex justify-content-center flex-column align-items-center">
        <ng-container *ngIf="outcomes$ | async as outcomes; else loadingOutcomes">
            <div *ngFor="let outcome of outcomes; let i = index">
                <app-molecule-out-come [outcome]="outcome"></app-molecule-out-come>
            </div>
        </ng-container>
        <ng-template #loadingOutcomes>
            <p *ngIf="loading.outcomes">Cargando resultados de aprendizaje...</p>
            <p *ngIf="error.outcomes">Error al cargar los resultados de aprendizaje</p>
        </ng-template>
    </section>
    <section  class="d-flex justify-content-between align-items-center content__buttons">
        <div>
            <button class="btn__basic ">Agregar RA</button>
            <button class="btn__basic">Reutilizar RA</button>
        </div>
        <div>
            <button class="btn__basic btn__save" (click)="onSaveClick()">Guardar</button>
            <button class="btn__basic btn__cancel" (click)="onCancelClick()">Eliminar</button>
        </div>
    </section>
  </div>