<app-alertmessage
  *ngIf="showAlert"
  [message]="messageAlert"
  [state]="stateAlert"
  (closed)="handleCloseAlert()"
>
</app-alertmessage>

<div class="competency-container d-flex flex-column min-vh-100">
  <app-molecule-back-header
[confirmBack]="true"
></app-molecule-back-header>
  <div class="gray-section-container p-3 p-lg-4 mx-2 mx-md-3 mx-lg-5 flex-grow-1 d-flex flex-column overflow-hidden">
    <div class="container-fluid py-3 py-md-4 general-container flex-grow-1 d-flex flex-column">
      <h1 class="fw-bold title mb-3 mb-md-4">{{title}}</h1>

      <div class="row g-4 flex-grow-1">
        <!-- Sección Izquierda -->
        <section class="col-12 col-lg-6 order-1">
          <app-template-select-input-boxtext
            [selectDescription]=selectLabelPlaceholder
            [selectPlaceholder]=selectPlaceholder
            [textareaDescription]="'Escribe la descripción de la competencia'"
            [options]=levels
            (saveClicked)="save($event)"
            class="d-flex flex-column h-100">
          </app-template-select-input-boxtext>
        </section>


        <!-- Sección Derecha (Botones y Program Outcome) -->
        <section class="col-12 col-lg-6 order-2 order-lg-2 d-flex flex-column">


          <!-- Outcomes section -->
          <section class="col-12 order-3 order-lg-2 mt-3 mt-lg-0">

            <div class="outcomes-container">
              <div class="mb-3">
                <app-molecule-out-come [isEditable]="true" [outcome]="outcomeDescription"
                  (outcomeChange)="setOutcomeDescription($event)"></app-molecule-out-come>
              </div>
            </div>

            <!-- Enhanced validation message -->
            <div *ngIf="emptyOutcome"
              class="alert alert-danger d-flex align-items-center p-2 mt-2 mb-2 fade-in" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                <path
                  d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
              <span><strong>¡Atención!</strong> Este campo es obligatorio.</span>
            </div>

          </section>
        </section>


      </div>
    </div>
  </div>
</div>
