<div class="d-flex flex-column align-items-center justify-content-center h-100 m-1 sectionLevel"
     (mouseenter)="onLevelHover()" 
     (mouseleave)="onLevelLeave()">
     <input type="number" [(ngModel)]="level.percentage" 
        class="form-control text-center percentage"
        (ngModelChange)="onPercentageChange($event)"
     min="0" max="100">
    <div class="level-container">
        <div class="level">
        </div>
        <div class="green-indicator clickable" 
             *ngIf="showGreenDiv"
             (click)="onGreenIndicatorClick()">
        </div>
        <div class="red-indicator clickable" 
             *ngIf="showRedDiv"
             (click)="onRedIndicatorClick()">
        </div>
    </div>
    <div class="divider_y"></div>
    <textarea 
        id="inputBox" 
        class="input__box"
        [class.is-invalid]="error"
        [(ngModel)]="description" 
        (ngModelChange)="onDescriptionChange($event)"
        (blur)="validateLevel()"
        maxlength="40"
        placeholder="Descripción del nivel">
    </textarea>
    <div *ngIf="error" class="text-danger mt-1">
        {{error}}
    </div>
</div>