<app-molecule-back-header></app-molecule-back-header>
<h1 class="fw-bold  title">Configuracion de asignaturas</h1>
<section class="section__Options">
    <app-template-listbox-complete 
    [textBlock]  = "textBlock"
    (blockClick)="handleBlockClick($event)">
    </app-template-listbox-complete>
</section>
<hr class="my-4 ">
<section class=" container-fluid section_input_size" id="createAsignature">
    
    <p>{{periodo}}</p>
    <h2 class=" fs-1">Crear asignatura</h2>
    <app-template-input-boxtext
    [description]= "'Escribe la description de la asignatura'">
    </app-template-input-boxtext>

</section>
