<app-molecule-back-header></app-molecule-back-header>
<h1 class="fw-bold  title">Configuracion de asignaturas</h1>
<section class="section__Options">
    <app-template-listbox-complete 
    [textBlock]  = "textBlock">
    </app-template-listbox-complete>
</section>

<p>{{periodo}}</p>
<h2 class=" title fs-1">Crear asignatura</h2>
<section class=" container-fluid input_size">
    <app-template-input-boxtext
    [description]= "'Escribe la description de la asignatura'">
    </app-template-input-boxtext>

</section>
