.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    padding-right: 3%;
}
.title h1{
    font-size: clamp(1rem, 5vw, 1.5rem);;
}
.title p{
    font-size: clamp(0.5rem, 5vw, 0.8rem);;
}

.title--secondary{
    color: #D9D9D9;
    padding-right: 3%;
}
.divider{
    width: 100%;
    
}
.home-icon {
    font-size: clamp(3rem, 3vw, 4rem);
    cursor: pointer;
    transition: all 0.3s ease;
    color: #1F0D1E;
    padding-right: 10px;
}

.home-icon--secondary {
    color: #D9D9D9;
}

.home-icon:hover {
    transform: scale(1.1);
}