.sectionOtions{
    padding: clamp(2rem, 7vw, 10rem);
}

.sectionRubric{
    height: 50rem;
    padding: clamp(2rem, 7vw, 10rem)
}

#evaluators{
    height: 40rem;
    padding: clamp(2rem, 7vw, 10rem)
}