<app-template-header-title [title]="'Configuracion de RA'" [description]="'Configura tu ra a tu gusto'"></app-template-header-title>
<section class="sectionTitle">
      <h1 class="title">{{title}}</h1>
      <p class="description">{{description}}</p>
</section>

<section class="sectionOtions">
    <div *ngFor="let option of options">
      <app-molecule-section-option
      [data]="option"
      (buttonOneClick)="handleBotonUno()"
      (buttonTwoClick)="handleBotonDos()">
      </app-molecule-section-option>
    </div>
  </section>
<section id="rubryc" class="sectionRubric ">

  <app-template-rubric-table 
  *ngIf="currentRubric && currentRubric.id" 
  [rubric]="currentRubric">
  </app-template-rubric-table>

  <!-- Mensaje de carga o estado vacío -->
  <div *ngIf="!currentRubric || !currentRubric.id" class="text-center p-4">
  </div>

  <section class="m-4">
    <h2 class="subtitle">
      Evaludadores
    </h2>
  
  </section>
  
</section>
