<app-template-header-title [title]="'Configuracion de RA'" [description]="'Configura tu ra a tu gusto'"></app-template-header-title>
<section class="sectionTitle">
      <h1 class="title">{{title}}</h1>
      <p class="description">description</p>
</section>

<section class="sectionOtions">
    <div *ngFor="let option of options">
      <app-molecule-section-option
      [data]="option"
      (buttonOneClick)="handleBotonUno()"
      (buttonTwoClick)="handleBotonDos()">
      </app-molecule-section-option>
    </div>
  </section>
<section id="rubryc" class="sectionRubric ">
  <app-template-rubric-table [rubric]="currentOutcome.rubric"></app-template-rubric-table>
</section>
<section id="evaluators" class=" d-flex flex-column flex-md-row justify-content-between align-items-start">
  <div>
    <h2>Evaluadores</h2>
    <p>¡Docentes asignados a la calificacion de esta rubrica!</p>  
  </div>
  
  
</section>