.sectionTitle {
    padding: clamp(1rem, 7vw, 10rem);
    transition: background-color 0.5s ease;
    position: relative; /* Asegura que el contenedor sea referencia para el posicionamiento */
    margin-bottom: clamp(2rem, 7vw, 3rem);
}

.sectionTitle::before { /* Cambiamos ::after por ::before para que aparezca dentro */
    content: "(Aquí puedes editar la descripción de tu RA)";
     /* Cambiamos a relative para que se mantenga en el flujo del documento */
    display: block; /* Para que ocupe su propia línea */
    color: #6B656A; /* Color más sutil */
    font-size: 0.875rem;
    opacity: 0;
    margin-top: 1rem; /* Espacio después del título */
    text-align: center;
    transition: opacity 0.3s ease;

}

.sectionTitle:hover {
    background-color: #c6c6c6;
}

.sectionTitle:hover::before {
    opacity: 1;
}

.sectionTitle:hover::after {
    opacity: 1;
    visibility: visible;
}
.sectionTitle:hover{
    background-color: #c6c6c6;
}
.title{
    font-size: clamp(3rem, 7vw, 7rem);
    font-weight: 600;

}
.description{
    width: auto;
    max-width: 75%;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
}
.sectionOtions{
    padding: clamp(2rem, 7vw, 10rem);
}

.sectionRubric{
    height: 50rem;
    padding: clamp(2rem, 7vw, 10rem)
}

#evaluators{
    height: 40rem;
    padding: clamp(2rem, 7vw, 10rem)
}
.iconEdit{
    font-weight: 700;
    font-size: 30px;
    transition: font-size 0.3s ease;
}
.iconEdit:hover{
    font-size: 35px;
}


.btn-edit{
    background-color: #1E1E1E;
    color: white;
    height: 40px;
    width: 10%;
    transition: all 0.3s ease;
}
.btn-edit:hover{
    width: 12%;
    height: 50px;
    font-weight: 700;
    transition: all 0,3s ease; 
}
.btn-save{
    background-color: #5E9E73;
    color: white;
    height: 40px;
    width: 10%;
    transition: background-color 0.3s ease;
}
.btn-save:hover{
    background-color: #3C866A;
    font-weight: 700;
}

.btn-cancel{
    background-color: #A65256;
    color: white;
    height: 40px;
    width: 10%;
    transition: background-color 0.3s ease;
}
.btn-cancel:hover{
    background-color: #B83238;
    font-weight: 700;
}
.form-control {
    background-color: #D9D9D9;
    min-height: 80px; /* Altura mínima inicial */
    width: 70%;
    resize: vertical; /* Permite redimensionar verticalmente */
    overflow-y: auto; /* Scroll vertical automático */
    white-space: pre-wrap; /* Mantiene los saltos de línea y envuelve el texto */
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    line-height: 1.5; /* Espaciado entre líneas */
    padding: 0.75rem; /* Espaciado interno */
}