.my-4{
    width: 40%;
    margin-left: 10%;
    height: 3px;               /* Grosor de la línea */
    background-color: #000000;    /* Color de la línea */
    border: none;       
}
.list__Box{
    margin-top: clamp(7rem, 2vw, 10.5rem);
    margin-bottom: clamp(10rem, 10vw, 10.5rem);
}
.selector_option{
    color: grey;
    
    transition: background-color 0.3s ease, color 0.3s ease;
}

.selector_option:hover{
    color: #1E1E1E;
    background-color: #B1DFC0;
    
    
}
.tile{
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.description{
    font-size: clamp(0.7rem, 5vw, 1rem);;
}
